body {
    font:normal 12px/1.6em Arial, Helvetica, sans-serif;
	/*color:#2a3845;*/
	margin:0;
	padding:0;
	background-color:#e9ebee;
}

p {
	margin:0;
	padding:0;
	color:#4b4f56;
	font:Arial, Helvetica, sans-serif;
}

#wrapper {
	margin:0 auto;
	width:632px;
	border-left:1px solid #f0e9eb;
	border-right:1px solid #f0e9eb;
	border-width:5px;	
    border-style:outset;
}

#header {
	margin:0 1px;
}

#bg {
	height:36px;
	background:null;
}

#main-content {
	margin:0 auto;
	
}

#main-image {
	text-align:center;
}

#left-column {
	width:300px;
	padding:0 30px 30px;
	float:left;
	color: #365899;
	text-decoration:none;
}

#right-column {
	width:270px;
	float:right;
	text-decoration: none;
	color: #365899
}

.sidebar {
	width:218px;
	margin:0 auto;
	padding:10px 25px;
	background:url('') no-repeat top;
}

#footer {
	background:#f7f7f7;
	border-top:1px solid #f0e9eb;
	padding:10px 10px;
	clear:both;
	font:normal 8px Arial, Helvetica, sans-serif;
	text-align:center;
}



a:visited, a:link {
	color:#a43b55;
	text-decoration:underline;
	background:none;
}

a:hover {
	color:#a43b55;
	text-decoration:none;
	background:none;
}

h1 {
	color:#ffffff;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 32px Arial, Helvetica, sans-serif;
	border-bottom:1px solid #efece7;
	margin-top:-40px;
}

h2 {
	color:#365899;
	margin:20px 0 10px;
	padding-bottom:10px;
	font:normal 17px Arial, Helvetica, sans-serif;
	border-bottom:1px solid #efece7;
}

h3 {
	color:#365899;
	margin:10px 0;
	padding-bottom:10px;
	font:bold 12px Arial, Helvetica, sans-serif;
	border-bottom:1px solid #efece7;
}

h4 {
	color:#4b4f56;
	margin-top:-20px;
	padding-bottom:10px;
	font: 10px Arial, Helvetica, sans-serif;
	border-bottom:1px solid #efece7;
}


ul {
	padding:0;
	margin:0 0 0 17px;
	list-style:square url('');
	color:#4b4f56;
}

.box {
	background:#f7f7f7;
	border:1px solid #f0e9eb;
	padding:25px;
}

#nav {
	background:#06a;
	padding:10px 20px;
	text-align:right;
	color:#f6dde3;
}

#nav a {
	margin: 0 10px;
}

#nav a:visited, #nav a:link {
	text-decoration:none;
	color:#f6dde3;
}

#nav a:hover {
	text-decoration:underline;
	color:#f6dde3;
}

#logo {
	margin-bottom:20px;
	font:normal 18px Georgia, serif;
	color:#365899;
}